@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --dark: 216, 12%, 8%;
        --accent: 218, 93%, 42%;
        --light: 210, 50%, 99%;
    }
}

*,
html,
body {
    font-family: 'Martian Mono', Courier, monospace;
    line-height: 26px;
}