@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --dark: 216, 12%, 8%;
        --accent: 218, 93%, 42%;
        --light: 210, 50%, 99%;
    }
}

*,
html,
body {
    font-family: 'Martian Mono', Courier, monospace;
    line-height: 26px;
}

.dashed-border {
    background-image: repeating-linear-gradient(0deg, #ffffff20, #ffffff20 12px, transparent 12px, transparent 16px),
        repeating-linear-gradient(90deg, #ffffff20, #ffffff20 12px, transparent 12px, transparent 16px),
        repeating-linear-gradient(180deg, #ffffff20, #ffffff20 12px, transparent 12px, transparent 16px),
        repeating-linear-gradient(90deg, #ffffff20, #ffffff20 12px, transparent 12px, transparent 16px);
    background-size: 1px 100%, 100% 1px, 1px 100%, 100% 1px;
    background-position: 0 0, 0 0, 100% 0, 0 100%;
    background-repeat: no-repeat;
}

.link-highlight {
    border-bottom: thin dashed hsl(var(--light));
}

.content-title {
    font-weight: 700;
    border-bottom: 1px solid hsl(var(--light));
}

blockquote {
    border-left: 2px #ffffff20 solid;
    padding: 8px 20px;
}

p>code {
    background-color: #ffffff20;
    padding: 5px;
}